#markets.collapse{:data => {:parent => '#game_nav_panes'}}
  = render 'auctions/market', :market_type => 'actual', :cards => current_game.cards.actual_market, **local_assigns
  = render 'auctions/market', :market_type => 'future', :cards => current_game.cards.future_market, **local_assigns
