%h1 Auction

%h3= current_game_player.name

%p Choose a Power Plant to put up for auction.

= form_for @auction, :data => {:confirm => 'Start bidding?'} do |f|
  = f.hidden_field :card_id

  = render 'market'
