%h1 Auction

%h3= current_game_player.name

%p Choose a Power Plant to put up for auction.

- current_game.cards.auctionable.first(8).in_groups_of(4).each_with_index do |cards, row|
  - market_type = row == 0 ? 'actual' : 'future'
  %h5.mt-5= market_type.titleize
  .row.power_plant_market{:class => market_type}
    - cards.each do |card|
      .col-6
        = render card
