%h1 Building Phase

= form_with :url => buildings_url, :id => 'new_buildings', :local => true do |f|

  .rows

  - [10, 15, 20].each do |building_cost|
    = link_to house_icon + "#{building_cost}€", nil, :data => {:building_cost => building_cost}, :class => 'new_building btn btn-primary'

  %h3
    Total
    %span.total 0€

  = f.submit 'Build', :class => 'btn btn-success btn-block'
