- content_for :resource_replenishment do
  %h3 Resource Replenishment

= link_to 'Replenish', resource_replenishments_url, :method => :post, :class => 'btn btn-success btn-block mb-3'

:coffee
  $(document).on 'turbolinks:load', ->
    show_resource_replenishment()
