.resource_market_space
  border: 1px solid rgba(0, 0, 0, 0.125)
  text-align: center
  $square: 30px
  width: $square
  height: $square

  &.occupied
    &.coal
      background-color: brown
      color: white
    &.oil
      background-color: black
      color: white
    &.uranium
      background-color: red
    &.trash
      background-color: yellow
  &:not(.occupied)
    color: lightgray
