=occupied_resource_market_space($kind, $color)
  &.occupied[data-kind="#{$kind}"]
    color: white
    background-color: #{$color}

.resource_market_space
  border: 1px solid rgba(0, 0, 0, 0.125)
  text-align: center
  $square: 30px
  width: $square
  height: $square

  &.occupied
    @each $kind, $color in $resource_colors
      +occupied_resource_market_space($kind, $color)

  &:not(.occupied)
    color: lightgray
