=resource_token($kind, $color)
  &[data-kind="#{$kind}"]
    background-color: #{$color}
    &.selected
      opacity: 0.25

.resource_token
  display: inline-block
  font-size: 12px
  width: $resource_token_square
  height: $resource_token_square
  text-align: center
  transform: rotate(10deg)
  @each $kind, $color in $resource_colors
    +resource_token($kind, $color)
