=player_track($player_color, $color)
  &[data-color="#{$player_color}"]
    &:not(.active)
      .house
        color: #{$color}
    &.active
      background-color: #{$color}
      color: white

.turn_order
  .player
    text-align: center
    border-width: 1px
    border-style: solid
    border-color: gray
    @each $player_color, $color in $player_colors
      +player_track($player_color, $color)
  .col-2
    padding: 8px
