@import bootstrap/mixins
=player_track($player_color, $color)
  &[data-color="#{$player_color}"]
    &:not(.active)
      .house
        color: #{$color}
    &.active
      background-color: #{$color}
      color: white

.turn_order
  background-color: $secondary

  .player
    text-align: center
    border-width: 1px
    border-style: solid
    border-color: gray
    background-color: $light

    @each $player_color, $color in $player_colors
      +player_track($player_color, $color)

    &[data-phase-status="complete"]
      .phase_incomplete
        display: none
    &[data-phase-status="incomplete"]
      .phase_complete
        display: none

    .house
      transition: transform .8s ease-in-out
      transform: rotate(-90deg)
    &[data-online="true"]
      .house
        transform: rotate(0deg)

  .col-2
    padding: 8px
