%ul#game_nav.nav
  %li.nav-item= link_to 'Players', nil, :class => 'nav-link', :id => 'player_mats_nav_link', :data => {:toggle => 'collapse', :target => '#player_mats'}
  %li.nav-item= link_to 'Resource Market', nil, :class => 'nav-link', :id => 'resource_market_nav_link', :data => {:toggle => 'collapse', :target => '#resource_market'}
