%nav.navbar.navbar-light.bg-light
  .navbar-brand
    Power Grid
    - if current_game
      | #{link_to "Game #{current_game.token}", game_url(current_game)}
  %button.navbar-toggler{:type => "button", :data => {:toggle => "collapse", :target => "#navbarNav"}}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item= link_to 'New Game', new_game_url, :class => 'nav-link'
